<div class="row">
    <h2><u>EDUCACIÓN ACADÉMICA</u></h2>
    <div class="col-lg-1">
        <img src="../../../assets/2APLogo.png" id="fotitoeducacion">
        <img src="../../../assets/ubalogo.png" id="fotitoeducacion">
        <img src="../../../assets/santalogo.png" id="fotitoeducacion">
    </div>
    <div class="col-lg-11">
        <ul>
            <li><h4>FULL STACK DEVELOPED JR. * (2022)</h4> </li>
                <p><b>Tecnicatura</b> / Argentina Programa </p>
        </ul>
        <ul>
            <li><h4>LICENCIADO EN ECONOMÍA * (2020)</h4> </li>
                <p><b>Universidad</b> / Universidad de Buenos Aires</p>
        </ul>
        <ul>
            <li><h4>Bachiller: Economía y Gestión de las Organizaciones * (2001-2004)</h4> </li>
            <p><b>Secundaria</b> / Instituto Parroquial Santa María</p>
        </ul>
    </div>
</div>
