<div class="row">
    <h2><u>EXPERIENCIA LABORAL</u></h2>
    <div class="col-lg-1">
        <img src="../../../assets/cabalogooo.png" id="fotitoexperiencia">
        <img src="../../../assets/LOGOSONE.png" id="fotitoexperiencia">
        <img src="../../../assets/arcade.png" id="fotitoexperiencia">
        <img src="../../../assets/logoodonto.png" id="fotitoexperiencia">
    </div>
    <div class="col-lg-11">
        <ul>
            <li><h3>Ministerio de Educación de C.A.B.A - DGPDYND</h3> * <h3>(2018-actualidad)</h3> </li>
                <p><b>Administrativo</b> / Auxiliar de  Directivos de Escuelas. 
                    Control de Sueldo y Movimientos del Personal Docente mediante plataformas Web. Documentación y Tramitación Expedientes mediante Software SADE.</p>
        </ul>
        <ul>
            <li><h3>“Service ONE” Servicio Técnico</h3> * <h3>(2012-2018)</h3> </li>
                <p><b>Comerciante</b> / Local de Servicio Técnico de Equipos Electrónicos (Consolas de Video Juegos, Notebook, PC, Tablet, Monitores). Empleador de 2 Técnicos Electrónicos y 1 Recepcionista. En el 2017 tuve que cerrar el comercio por motivo de enfocarme full-time a la Universidad.</p>
        </ul>
        <ul>
            <li><h3>“La Casa del Video Juego”</h3> * <h3>(2008-2012)</h3> </li>
            <p><b>Administrativo</b> / Manejo programa Tango. Atención al Gremio. Facturación. Encargado del Personal (6 empleados). Liquidación de Sueldos. Motivo de Egreso:  Por reducción estructural de la empresa, se me indemniza con un sector de la empresa.</p>
        </ul>
        <ul>
            <li><h3>“Centro Implanto-Odontológico Doctor Fortunato Ernesto Salomón”
                </h3> * <h3>(2006-2008)</h3> </li>
            <p><b>Secretario</b> / Telefonista. Recepcionista. Facturación. Manejo de Caja. Manejo de Llaves. Call-Center venta en frio para Cursos para Odontólogos.Motivo de egreso: necesidad de trabajar 5 días a la semana.</p>
        </ul>
    </div>
</div>
