<div class="row">
    <h2><u>EXPERIENCIA LABORAL</u></h2>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">+Experiencia Laboral</button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td><h4>{{Experiencia.nombreE}}</h4></td>
                    <td><h6>{{Experiencia.descripcionE}}</h6></td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-secondary" routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pen-fill"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)"><i class="bi bi-x-circle-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
