<div class="row">
    <h2><u>HARD & SOFT SKILLS</u></h2>
    <div class="text-center col-sm-4 col-md-4 collg-4">
        <circle-progress
            [percent]="95"
            [radius]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle]="true"
            [subtitle]="'Labor en Equipo'"
            [subtitleColor]="'#1e9216'"
            [subtitleFontSize]="'20'"
            [backgroundGradient]= "true"
            [backgroundColor]= "'#f8f2f2'"
            [backgroundGradientStopColor]= "'#2db1b4'"
            [backgroundOpacity]= "1"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 collg-4">
        <circle-progress
            [percent]="50"
            [radius]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle]="true"
            [subtitle]="'INGLÉS'"
            [subtitleColor]="'#1e9216'"
            [subtitleFontSize]="'20'"
            [backgroundGradient]= "true"
            [backgroundColor]= "'#f8f2f2'"
            [backgroundGradientStopColor]= "'#2db1b4'"
            [backgroundOpacity]= "1"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 collg-4">
        <circle-progress
            [percent]="100"
            [radius]="90"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle]="true"
            [subtitle]="'DILIGENTE'"
            [subtitleColor]="'#1e9216'"
            [subtitleFontSize]="'20'"
            [backgroundGradient]= "true"
            [backgroundColor]= "'#f8f2f2'"
            [backgroundGradientStopColor]= "'#2db1b4'"
            [backgroundOpacity]= "1"
        ></circle-progress>
    </div>
</div>
