<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://es-la.facebook.com/ezequiel.brito.737" target="_blank"><img src="../../../assets/facebook.png" id="facebook"></a>
            <a href="https://github.com/EzeBrito" target="_blank"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.instagram.com/ezequiel.s.brito" target="_blank"><img src="../../../assets/instagram.png" idt="instagram"></a>
            <a href="https://www.linkedin.com/in/ezequiel-sebastian-brito-189a0915b" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://twitter.com/stefanowelove" target="_blank"><img src="../../../assets/twitter.png" id="twitter"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR</button>
        </div>
    </div>
</div>


