<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Nombre de la institución + lapso de estudio, ej:"(2008-2009)"</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Titulo o descripcion logrado o ha alcanzar.</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                </div>
                <button Class="btn btn-dark">Ingresar Educación</button>
            </form>
        </div>
    </div>
</div>